In [1]:
import os

In [2]:
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

In [4]:
os.environ["OPENAI_API_KEY"]=os.getenv("OPENAI_API_KEY")

In [5]:
import pyodbc

try:
    conn = pyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                          "SERVER=LAPTOP-RES6G37K;"
                          "DATABASE=adventureworks2019;"
                          "Trusted_connection=Yes;")
    print("✅ SQL Server Login Successful!")
    conn.close()
except Exception as e:
    print("❌ SQL Server Login Failed:", e)

✅ SQL Server Login Successful!

In [6]:
from sqlalchemy import create_engine

In [7]:
from sqlalchemy.engine import URL
server = "LAPTOP-RES6G37K"
database = "adventureworks2019"


connection_url = URL.create(
    "mssql+pyodbc",
    host="tcp:" + server,
    port=1433,
    database=database,
    
    # driver is typically required in the query
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        "Trusted_Connection": "yes"
    },
)

engine = create_engine(connection_url)

In [8]:
try:
    with engine.connect() as conn:
        print("✅ SQLAlchemy connected successfully!")
except Exception as e:
    print("❌ SQLAlchemy connection failed:", e)

✅ SQLAlchemy connected successfully!

In [9]:
from langchain.utilities import SQLDatabase

In [10]:
from langchain_community.utilities.sql_database import SQLDatabase

In [62]:
from sqlalchemy import create_engine, MetaData

meta = MetaData()
# Reflect *all* schemas and tables:
for schema_name in ["Person","dbo","Sales","HumanResources","Production","Purchasing"]:
    meta.reflect(bind=engine, schema=schema_name)

C:\Users\Sreehari\AppData\Local\Temp\ipykernel_15128\3025684154.py:6: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  meta.reflect(bind=engine, schema=schema_name)
C:\Users\Sreehari\AppData\Local\Temp\ipykernel_15128\3025684154.py:6: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  meta.reflect(bind=engine, schema=schema_name)
C:\Users\Sreehari\AppData\Local\Temp\ipykernel_15128\3025684154.py:6: SAWarning: Did not recognize type 'hierarchyid' of column 'DocumentNode'
  meta.reflect(bind=engine, schema=schema_name)

In [29]:
dbase = SQLDatabase(engine=engine, schema="Sales", metadata=meta)

In [30]:
dbase.get_table_names()

['CountryRegionCurrency',
 'CreditCard',
 'Currency',
 'CurrencyRate',
 'Customer',
 'PersonCreditCard',
 'SalesOrderDetail',
 'SalesOrderHeader',
 'SalesOrderHeaderSalesReason',
 'SalesPerson',
 'SalesPersonQuotaHistory',
 'SalesReason',
 'SalesTaxRate',
 'SalesTerritory',
 'SalesTerritoryHistory',
 'ShoppingCartItem',
 'SpecialOffer',
 'SpecialOfferProduct',
 'Store']

In [31]:
len(dbase.get_table_info())

21970

In [32]:
dbase.get_table_info()

'\nCREATE TABLE [Sales].[CountryRegionCurrency] (\n\t[CountryRegionCode] NVARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[CurrencyCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_CountryRegionCurrency_CountryRegionCode_CurrencyCode] PRIMARY KEY ([CountryRegionCode], [CurrencyCode]), \n\tCONSTRAINT [FK_CountryRegionCurrency_CountryRegion_CountryRegionCode] FOREIGN KEY([CountryRegionCode]) REFERENCES [Person].[CountryRegion] ([CountryRegionCode]), \n\tCONSTRAINT [FK_CountryRegionCurrency_Currency_CurrencyCode] FOREIGN KEY([CurrencyCode]) REFERENCES [Sales].[Currency] ([CurrencyCode])\n)\n\n/*\n3 rows from CountryRegionCurrency table:\nCountryRegionCode\tCurrencyCode\tModifiedDate\nAE\tAED\t2014-02-08 10:17:21.510000\nAR\tARS\t2014-02-08 10:17:21.510000\nAT\tATS\t2014-02-08 10:17:21.510000\n*/\n\n\nCREATE TABLE [Sales].[CreditCard] (\n\t[CreditCardID] INTEGER NOT NULL IDENTITY(1,1), \n\t[CardType] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[CardNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ExpMonth] TINYINT NOT NULL, \n\t[ExpYear] SMALLINT NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_CreditCard_CreditCardID] PRIMARY KEY ([CreditCardID])\n)\n\n/*\n3 rows from CreditCard table:\nCreditCardID\tCardType\tCardNumber\tExpMonth\tExpYear\tModifiedDate\n1\tSuperiorCard\t33332664695310\t11\t2006\t2013-07-29 00:00:00\n2\tDistinguish\t55552127249722\t8\t2005\t2013-12-05 00:00:00\n3\tColonialVoice\t77778344838353\t7\t2005\t2014-01-14 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[CurrencyRate] (\n\t[CurrencyRateID] INTEGER NOT NULL IDENTITY(1,1), \n\t[CurrencyRateDate] DATETIME NOT NULL, \n\t[FromCurrencyCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ToCurrencyCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[AverageRate] MONEY NOT NULL, \n\t[EndOfDayRate] MONEY NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_CurrencyRate_CurrencyRateID] PRIMARY KEY ([CurrencyRateID]), \n\tCONSTRAINT [FK_CurrencyRate_Currency_FromCurrencyCode] FOREIGN KEY([FromCurrencyCode]) REFERENCES [Sales].[Currency] ([CurrencyCode]), \n\tCONSTRAINT [FK_CurrencyRate_Currency_ToCurrencyCode] FOREIGN KEY([ToCurrencyCode]) REFERENCES [Sales].[Currency] ([CurrencyCode])\n)\n\n/*\n3 rows from CurrencyRate table:\nCurrencyRateID\tCurrencyRateDate\tFromCurrencyCode\tToCurrencyCode\tAverageRate\tEndOfDayRate\tModifiedDate\n1\t2011-05-31 00:00:00\tUSD\tARS\t1.0000\t1.0002\t2011-05-31 00:00:00\n2\t2011-05-31 00:00:00\tUSD\tAUD\t1.5491\t1.5500\t2011-05-31 00:00:00\n3\t2011-05-31 00:00:00\tUSD\tBRL\t1.9379\t1.9419\t2011-05-31 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[Currency] (\n\t[CurrencyCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_Currency_CurrencyCode] PRIMARY KEY ([CurrencyCode])\n)\n\n/*\n3 rows from Currency table:\nCurrencyCode\tName\tModifiedDate\nAED\tEmirati Dirham\t2008-04-30 00:00:00\nAFA\tAfghani\t2008-04-30 00:00:00\nALL\tLek\t2008-04-30 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[Customer] (\n\t[CustomerID] INTEGER NOT NULL IDENTITY(1,1), \n\t[PersonID] INTEGER NULL, \n\t[StoreID] INTEGER NULL, \n\t[TerritoryID] INTEGER NULL, \n\t[AccountNumber] AS ((isnull(\'AW\'+[dbo].[ufnLeadingZeros]([CustomerID]),\'\'))) NOT NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_Customer_CustomerID] PRIMARY KEY ([CustomerID]), \n\tCONSTRAINT [FK_Customer_Person_PersonID] FOREIGN KEY([PersonID]) REFERENCES [Person].[Person] ([BusinessEntityID]), \n\tCONSTRAINT [FK_Customer_SalesTerritory_TerritoryID] FOREIGN KEY([TerritoryID]) REFERENCES [Sales].[SalesTerritory] ([TerritoryID]), \n\tCONSTRAINT [FK_Customer_Store_StoreID] FOREIGN KEY([StoreID]) REFERENCES [Sales].[Store] ([BusinessEntityID])\n)\n\n/*\n3 rows from Customer table:\nCustomerID\tPersonID\tStoreID\tTerritoryID\tAccountNumber\trowguid\tModifiedDate\n1\tNone\t934\t1\tAW00000001\t3f5ae95e-b87d-4aed-95b4-c3797afcb74f\t2014-09-12 11:15:07.263000\n2\tNone\t1028\t1\tAW00000002\te552f657-a9af-4a7d-a645-c429d6e02491\t2014-09-12 11:15:07.263000\n3\tNone\t642\t4\tAW00000003\t130774b1-db21-4ef3-98c8-c104bcd6ed6d\t2014-09-12 11:15:07.263000\n*/\n\n\nCREATE TABLE [Sales].[PersonCreditCard] (\n\t[BusinessEntityID] INTEGER NOT NULL, \n\t[CreditCardID] INTEGER NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_PersonCreditCard_BusinessEntityID_CreditCardID] PRIMARY KEY ([BusinessEntityID], [CreditCardID]), \n\tCONSTRAINT [FK_PersonCreditCard_CreditCard_CreditCardID] FOREIGN KEY([CreditCardID]) REFERENCES [Sales].[CreditCard] ([CreditCardID]), \n\tCONSTRAINT [FK_PersonCreditCard_Person_BusinessEntityID] FOREIGN KEY([BusinessEntityID]) REFERENCES [Person].[Person] ([BusinessEntityID])\n)\n\n/*\n3 rows from PersonCreditCard table:\nBusinessEntityID\tCreditCardID\tModifiedDate\n293\t17038\t2013-07-31 00:00:00\n295\t15369\t2011-08-01 00:00:00\n297\t8010\t2011-08-01 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesOrderDetail] (\n\t[SalesOrderID] INTEGER NOT NULL, \n\t[SalesOrderDetailID] INTEGER NOT NULL IDENTITY(1,1), \n\t[CarrierTrackingNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[OrderQty] SMALLINT NOT NULL, \n\t[ProductID] INTEGER NOT NULL, \n\t[SpecialOfferID] INTEGER NOT NULL, \n\t[UnitPrice] MONEY NOT NULL, \n\t[UnitPriceDiscount] MONEY NOT NULL DEFAULT ((0.0)), \n\t[LineTotal] AS ((isnull(([UnitPrice]*((1.0)-[UnitPriceDiscount]))*[OrderQty],(0.0)))) NOT NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID] PRIMARY KEY ([SalesOrderID], [SalesOrderDetailID]), \n\tCONSTRAINT [FK_SalesOrderDetail_SalesOrderHeader_SalesOrderID] FOREIGN KEY([SalesOrderID]) REFERENCES [Sales].[SalesOrderHeader] ([SalesOrderID]) ON DELETE CASCADE, \n\tCONSTRAINT [FK_SalesOrderDetail_SpecialOfferProduct_SpecialOfferIDProductID] FOREIGN KEY([SpecialOfferID], [ProductID]) REFERENCES [Sales].[SpecialOfferProduct] ([SpecialOfferID], [ProductID])\n)\n\n/*\n3 rows from SalesOrderDetail table:\nSalesOrderID\tSalesOrderDetailID\tCarrierTrackingNumber\tOrderQty\tProductID\tSpecialOfferID\tUnitPrice\tUnitPriceDiscount\tLineTotal\trowguid\tModifiedDate\n43659\t1\t4911-403C-98\t1\t776\t1\t2024.9940\t0.0000\t2024.994000\tb207c96d-d9e6-402b-8470-2cc176c42283\t2011-05-31 00:00:00\n43659\t2\t4911-403C-98\t3\t777\t1\t2024.9940\t0.0000\t6074.982000\t7abb600d-1e77-41be-9fe5-b9142cfc08fa\t2011-05-31 00:00:00\n43659\t3\t4911-403C-98\t1\t778\t1\t2024.9940\t0.0000\t2024.994000\t475cf8c6-49f6-486e-b0ad-afc6a50cdd2f\t2011-05-31 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesOrderHeaderSalesReason] (\n\t[SalesOrderID] INTEGER NOT NULL, \n\t[SalesReasonID] INTEGER NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesOrderHeaderSalesReason_SalesOrderID_SalesReasonID] PRIMARY KEY ([SalesOrderID], [SalesReasonID]), \n\tCONSTRAINT [FK_SalesOrderHeaderSalesReason_SalesOrderHeader_SalesOrderID] FOREIGN KEY([SalesOrderID]) REFERENCES [Sales].[SalesOrderHeader] ([SalesOrderID]) ON DELETE CASCADE, \n\tCONSTRAINT [FK_SalesOrderHeaderSalesReason_SalesReason_SalesReasonID] FOREIGN KEY([SalesReasonID]) REFERENCES [Sales].[SalesReason] ([SalesReasonID])\n)\n\n/*\n3 rows from SalesOrderHeaderSalesReason table:\nSalesOrderID\tSalesReasonID\tModifiedDate\n43697\t5\t2011-05-31 00:00:00\n43697\t9\t2011-05-31 00:00:00\n43702\t5\t2011-06-01 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesOrderHeader] (\n\t[SalesOrderID] INTEGER NOT NULL IDENTITY(1,1), \n\t[RevisionNumber] TINYINT NOT NULL DEFAULT ((0)), \n\t[OrderDate] DATETIME NOT NULL DEFAULT (getdate()), \n\t[DueDate] DATETIME NOT NULL, \n\t[ShipDate] DATETIME NULL, \n\t[Status] TINYINT NOT NULL DEFAULT ((1)), \n\t[OnlineOrderFlag] BIT NOT NULL DEFAULT ((1)), \n\t[SalesOrderNumber] AS ((isnull(N\'SO\'+CONVERT([nvarchar](23),[SalesOrderID]),N\'*** ERROR ***\'))) NOT NULL, \n\t[PurchaseOrderNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[AccountNumber] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[CustomerID] INTEGER NOT NULL, \n\t[SalesPersonID] INTEGER NULL, \n\t[TerritoryID] INTEGER NULL, \n\t[BillToAddressID] INTEGER NOT NULL, \n\t[ShipToAddressID] INTEGER NOT NULL, \n\t[ShipMethodID] INTEGER NOT NULL, \n\t[CreditCardID] INTEGER NULL, \n\t[CreditCardApprovalCode] VARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[CurrencyRateID] INTEGER NULL, \n\t[SubTotal] MONEY NOT NULL DEFAULT ((0.00)), \n\t[TaxAmt] MONEY NOT NULL DEFAULT ((0.00)), \n\t[Freight] MONEY NOT NULL DEFAULT ((0.00)), \n\t[TotalDue] AS ((isnull(([SubTotal]+[TaxAmt])+[Freight],(0)))) NOT NULL, \n\t[Comment] NVARCHAR(128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesOrderHeader_SalesOrderID] PRIMARY KEY ([SalesOrderID]), \n\tCONSTRAINT [FK_SalesOrderHeader_Address_BillToAddressID] FOREIGN KEY([BillToAddressID]) REFERENCES [Person].[Address] ([AddressID]), \n\tCONSTRAINT [FK_SalesOrderHeader_Address_ShipToAddressID] FOREIGN KEY([ShipToAddressID]) REFERENCES [Person].[Address] ([AddressID]), \n\tCONSTRAINT [FK_SalesOrderHeader_CreditCard_CreditCardID] FOREIGN KEY([CreditCardID]) REFERENCES [Sales].[CreditCard] ([CreditCardID]), \n\tCONSTRAINT [FK_SalesOrderHeader_CurrencyRate_CurrencyRateID] FOREIGN KEY([CurrencyRateID]) REFERENCES [Sales].[CurrencyRate] ([CurrencyRateID]), \n\tCONSTRAINT [FK_SalesOrderHeader_Customer_CustomerID] FOREIGN KEY([CustomerID]) REFERENCES [Sales].[Customer] ([CustomerID]), \n\tCONSTRAINT [FK_SalesOrderHeader_SalesPerson_SalesPersonID] FOREIGN KEY([SalesPersonID]) REFERENCES [Sales].[SalesPerson] ([BusinessEntityID]), \n\tCONSTRAINT [FK_SalesOrderHeader_SalesTerritory_TerritoryID] FOREIGN KEY([TerritoryID]) REFERENCES [Sales].[SalesTerritory] ([TerritoryID]), \n\tCONSTRAINT [FK_SalesOrderHeader_ShipMethod_ShipMethodID] FOREIGN KEY([ShipMethodID]) REFERENCES [Purchasing].[ShipMethod] ([ShipMethodID])\n)\n\n/*\n3 rows from SalesOrderHeader table:\nSalesOrderID\tRevisionNumber\tOrderDate\tDueDate\tShipDate\tStatus\tOnlineOrderFlag\tSalesOrderNumber\tPurchaseOrderNumber\tAccountNumber\tCustomerID\tSalesPersonID\tTerritoryID\tBillToAddressID\tShipToAddressID\tShipMethodID\tCreditCardID\tCreditCardApprovalCode\tCurrencyRateID\tSubTotal\tTaxAmt\tFreight\tTotalDue\tComment\trowguid\tModifiedDate\n43659\t8\t2011-05-31 00:00:00\t2011-06-12 00:00:00\t2011-06-07 00:00:00\t5\tFalse\tSO43659\tPO522145787\t10-4020-000676\t29825\t279\t5\t985\t985\t5\t16281\t105041Vi84182\tNone\t20565.6206\t1971.5149\t616.0984\t23153.2339\tNone\t79b65321-39ca-4115-9cba-8fe0903e12e6\t2011-06-07 00:00:00\n43660\t8\t2011-05-31 00:00:00\t2011-06-12 00:00:00\t2011-06-07 00:00:00\t5\tFalse\tSO43660\tPO18850127500\t10-4020-000117\t29672\t279\t5\t921\t921\t5\t5618\t115213Vi29411\tNone\t1294.2529\t124.2483\t38.8276\t1457.3288\tNone\t738dc42d-d03b-48a1-9822-f95a67ea7389\t2011-06-07 00:00:00\n43661\t8\t2011-05-31 00:00:00\t2011-06-12 00:00:00\t2011-06-07 00:00:00\t5\tFalse\tSO43661\tPO18473189620\t10-4020-000442\t29734\t282\t6\t517\t517\t5\t1346\t85274Vi6854\t4\t32726.4786\t3153.7696\t985.5530\t36865.8012\tNone\td91b9131-18a4-4a11-bc3a-90b6f53e9d74\t2011-06-07 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesPersonQuotaHistory] (\n\t[BusinessEntityID] INTEGER NOT NULL, \n\t[QuotaDate] DATETIME NOT NULL, \n\t[SalesQuota] MONEY NOT NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesPersonQuotaHistory_BusinessEntityID_QuotaDate] PRIMARY KEY ([BusinessEntityID], [QuotaDate]), \n\tCONSTRAINT [FK_SalesPersonQuotaHistory_SalesPerson_BusinessEntityID] FOREIGN KEY([BusinessEntityID]) REFERENCES [Sales].[SalesPerson] ([BusinessEntityID])\n)\n\n/*\n3 rows from SalesPersonQuotaHistory table:\nBusinessEntityID\tQuotaDate\tSalesQuota\trowguid\tModifiedDate\n274\t2011-05-31 00:00:00\t28000.0000\t99109bbf-8693-4587-bc23-6036ec89e1be\t2011-04-16 00:00:00\n274\t2011-08-31 00:00:00\t7000.0000\tdfd01444-8900-461c-8d6f-04598dae01d4\t2011-07-17 00:00:00\n274\t2011-12-01 00:00:00\t91000.0000\t0a69f453-9689-4ccf-a08c-c644670f5668\t2011-10-17 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesPerson] (\n\t[BusinessEntityID] INTEGER NOT NULL, \n\t[TerritoryID] INTEGER NULL, \n\t[SalesQuota] MONEY NULL, \n\t[Bonus] MONEY NOT NULL DEFAULT ((0.00)), \n\t[CommissionPct] SMALLMONEY NOT NULL DEFAULT ((0.00)), \n\t[SalesYTD] MONEY NOT NULL DEFAULT ((0.00)), \n\t[SalesLastYear] MONEY NOT NULL DEFAULT ((0.00)), \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesPerson_BusinessEntityID] PRIMARY KEY ([BusinessEntityID]), \n\tCONSTRAINT [FK_SalesPerson_Employee_BusinessEntityID] FOREIGN KEY([BusinessEntityID]) REFERENCES [HumanResources].[Employee] ([BusinessEntityID]), \n\tCONSTRAINT [FK_SalesPerson_SalesTerritory_TerritoryID] FOREIGN KEY([TerritoryID]) REFERENCES [Sales].[SalesTerritory] ([TerritoryID])\n)\n\n/*\n3 rows from SalesPerson table:\nBusinessEntityID\tTerritoryID\tSalesQuota\tBonus\tCommissionPct\tSalesYTD\tSalesLastYear\trowguid\tModifiedDate\n274\tNone\tNone\t0.0000\t0.0000\t559697.5639\t0.0000\t48754992-9ee0-4c0e-8c94-9451604e3e02\t2010-12-28 00:00:00\n275\t2\t300000.0000\t4100.0000\t0.0120\t3763178.1787\t1750406.4785\t1e0a7274-3064-4f58-88ee-4c6586c87169\t2011-05-24 00:00:00\n276\t4\t250000.0000\t2000.0000\t0.0150\t4251368.5497\t1439156.0291\t4dd9eee4-8e81-4f8c-af97-683394c1f7c0\t2011-05-24 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesReason] (\n\t[SalesReasonID] INTEGER NOT NULL IDENTITY(1,1), \n\t[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ReasonType] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesReason_SalesReasonID] PRIMARY KEY ([SalesReasonID])\n)\n\n/*\n3 rows from SalesReason table:\nSalesReasonID\tName\tReasonType\tModifiedDate\n1\tPrice\tOther\t2008-04-30 00:00:00\n2\tOn Promotion\tPromotion\t2008-04-30 00:00:00\n3\tMagazine Advertisement\tMarketing\t2008-04-30 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesTaxRate] (\n\t[SalesTaxRateID] INTEGER NOT NULL IDENTITY(1,1), \n\t[StateProvinceID] INTEGER NOT NULL, \n\t[TaxType] TINYINT NOT NULL, \n\t[TaxRate] SMALLMONEY NOT NULL DEFAULT ((0.00)), \n\t[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesTaxRate_SalesTaxRateID] PRIMARY KEY ([SalesTaxRateID]), \n\tCONSTRAINT [FK_SalesTaxRate_StateProvince_StateProvinceID] FOREIGN KEY([StateProvinceID]) REFERENCES [Person].[StateProvince] ([StateProvinceID])\n)\n\n/*\n3 rows from SalesTaxRate table:\nSalesTaxRateID\tStateProvinceID\tTaxType\tTaxRate\tName\trowguid\tModifiedDate\n1\t1\t1\t14.0000\tCanadian GST + Alberta Provincial Tax\t683de5dd-521a-47d4-a573-06a3cdb1bc5d\t2008-04-30 00:00:00\n2\t57\t1\t14.2500\tCanadian GST + Ontario Provincial Tax\t05c4ffdb-4f84-4cdf-abe5-fdf3216ea74e\t2008-04-30 00:00:00\n3\t63\t1\t14.2500\tCanadian GST + Quebec Provincial Tax\td4edb557-56d7-403c-b538-4df5e7302588\t2008-04-30 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesTerritoryHistory] (\n\t[BusinessEntityID] INTEGER NOT NULL, \n\t[TerritoryID] INTEGER NOT NULL, \n\t[StartDate] DATETIME NOT NULL, \n\t[EndDate] DATETIME NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesTerritoryHistory_BusinessEntityID_StartDate_TerritoryID] PRIMARY KEY ([BusinessEntityID], [StartDate], [TerritoryID]), \n\tCONSTRAINT [FK_SalesTerritoryHistory_SalesPerson_BusinessEntityID] FOREIGN KEY([BusinessEntityID]) REFERENCES [Sales].[SalesPerson] ([BusinessEntityID]), \n\tCONSTRAINT [FK_SalesTerritoryHistory_SalesTerritory_TerritoryID] FOREIGN KEY([TerritoryID]) REFERENCES [Sales].[SalesTerritory] ([TerritoryID])\n)\n\n/*\n3 rows from SalesTerritoryHistory table:\nBusinessEntityID\tTerritoryID\tStartDate\tEndDate\trowguid\tModifiedDate\n275\t2\t2011-05-31 00:00:00\t2012-11-29 00:00:00\t8563ce6a-00ff-47d7-ba4d-3c3e1cdef531\t2012-11-22 00:00:00\n275\t3\t2012-11-30 00:00:00\tNone\t2f44304c-ee87-4c72-813e-ca75c5f61f4c\t2012-11-23 00:00:00\n276\t4\t2011-05-31 00:00:00\tNone\t64bcb1b3-a793-40ba-9859-d90f78c3f167\t2011-05-24 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[SalesTerritory] (\n\t[TerritoryID] INTEGER NOT NULL IDENTITY(1,1), \n\t[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[CountryRegionCode] NVARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[Group] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[SalesYTD] MONEY NOT NULL DEFAULT ((0.00)), \n\t[SalesLastYear] MONEY NOT NULL DEFAULT ((0.00)), \n\t[CostYTD] MONEY NOT NULL DEFAULT ((0.00)), \n\t[CostLastYear] MONEY NOT NULL DEFAULT ((0.00)), \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SalesTerritory_TerritoryID] PRIMARY KEY ([TerritoryID]), \n\tCONSTRAINT [FK_SalesTerritory_CountryRegion_CountryRegionCode] FOREIGN KEY([CountryRegionCode]) REFERENCES [Person].[CountryRegion] ([CountryRegionCode])\n)\n\n/*\n3 rows from SalesTerritory table:\nTerritoryID\tName\tCountryRegionCode\tGroup\tSalesYTD\tSalesLastYear\tCostYTD\tCostLastYear\trowguid\tModifiedDate\n1\tNorthwest\tUS\tNorth America\t7887186.7882\t3298694.4938\t0.0000\t0.0000\t43689a10-e30b-497f-b0de-11de20267ff7\t2008-04-30 00:00:00\n2\tNortheast\tUS\tNorth America\t2402176.8476\t3607148.9371\t0.0000\t0.0000\t00fb7309-96cc-49e2-8363-0a1ba72486f2\t2008-04-30 00:00:00\n3\tCentral\tUS\tNorth America\t3072175.1180\t3205014.0767\t0.0000\t0.0000\tdf6e7fd8-1a8d-468c-b103-ed8addb452c1\t2008-04-30 00:00:00\n*/\n\n\nCREATE TABLE [Sales].[ShoppingCartItem] (\n\t[ShoppingCartItemID] INTEGER NOT NULL IDENTITY(1,1), \n\t[ShoppingCartID] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[Quantity] INTEGER NOT NULL DEFAULT ((1)), \n\t[ProductID] INTEGER NOT NULL, \n\t[DateCreated] DATETIME NOT NULL DEFAULT (getdate()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_ShoppingCartItem_ShoppingCartItemID] PRIMARY KEY ([ShoppingCartItemID]), \n\tCONSTRAINT [FK_ShoppingCartItem_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID])\n)\n\n/*\n3 rows from ShoppingCartItem table:\nShoppingCartItemID\tShoppingCartID\tQuantity\tProductID\tDateCreated\tModifiedDate\n2\t14951\t3\t862\t2013-11-09 17:54:07.603000\t2013-11-09 17:54:07.603000\n4\t20621\t4\t881\t2013-11-09 17:54:07.603000\t2013-11-09 17:54:07.603000\n5\t20621\t7\t874\t2013-11-09 17:54:07.603000\t2013-11-09 17:54:07.603000\n*/\n\n\nCREATE TABLE [Sales].[SpecialOfferProduct] (\n\t[SpecialOfferID] INTEGER NOT NULL, \n\t[ProductID] INTEGER NOT NULL, \n\trowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()), \n\t[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()), \n\tCONSTRAINT [PK_SpecialOfferProduct_SpecialOfferID_ProductID] PRIMARY KEY ([SpecialOfferID], [ProductID]), \n\tCONSTRAINT [FK_SpecialOfferProduct_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID]), \n\tCONSTRAINT [FK_SpecialOfferProduct_SpecialOffer_SpecialOfferID] FOREIGN KEY([SpecialOfferID]) REFERENCES [Sales].[SpecialOffer] ([SpecialOfferID])\n)\n\n/*\n3 rows from SpecialOff

In [60]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain_experimental.sql.base import SQLDatabaseChain

# Your SQL Server connection URI
connection_uri = (
    "mssql+pyodbc://@LAPTOP-RES6G37K/adventureworks2019"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

# Pass multiple schemas to include_schemas
db = SQLDatabase.from_uri(
    connection_uri,
    schema="Person"  # Example multiple schemas
)

# Set up LLM
llm = ChatOpenAI(temperature=0, model="gpt-4")

# Create SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True,return_intermediate_steps=True,)

# Run a natural language question
response = db_chain.invoke("How many persons whose home address is in country France?")

C:\Users\Sreehari\AppData\Roaming\Python\Python311\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self._metadata.reflect(

> Entering new SQLDatabaseChain chain...
How many persons whose home address is in country France?
SQLQuery:SELECT COUNT(DISTINCT p.[BusinessEntityID])
FROM [Person].[Person] p
JOIN [Person].[BusinessEntityAddress] bea ON p.[BusinessEntityID] = bea.[BusinessEntityID]
JOIN [Person].[Address] a ON bea.[AddressID] = a.[AddressID]
JOIN [Person].[StateProvince] sp ON a.[StateProvinceID] = sp.[StateProvinceID]
JOIN [Person].[CountryRegion] cr ON sp.[CountryRegionCode] = cr.[CountryRegionCode]
WHERE cr.[Name] = 'France'
SQLResult: [(1811,)]
Answer:There are 1811 persons whose home address is in France.
> Finished chain.

In [58]:
len(response['intermediate_steps'][1])

58

In [35]:
# Your SQL Server connection URI
connection_uri = (
    "mssql+pyodbc://@LAPTOP-RES6G37K/adventureworks2019"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

In [36]:
from sqlalchemy import create_engine, inspect

engine = create_engine(connection_uri)
inspector = inspect(engine)

for schema in inspector.get_schema_names():
    print(f"\nSchema: {schema}")
    for table in inspector.get_table_names(schema=schema):
        print(f"  {schema}.{table}")

Schema: db_accessadmin

Schema: db_backupoperator

Schema: db_datareader

Schema: db_datawriter

Schema: db_ddladmin

Schema: db_denydatareader

Schema: db_denydatawriter

Schema: db_owner

Schema: db_securityadmin

Schema: dbo
  dbo.AWBuildVersion
  dbo.DatabaseLog
  dbo.ErrorLog

Schema: guest

Schema: HumanResources
  HumanResources.Department
  HumanResources.Employee
  HumanResources.EmployeeDepartmentHistory
  HumanResources.EmployeePayHistory
  HumanResources.JobCandidate
  HumanResources.Shift

Schema: INFORMATION_SCHEMA

Schema: LAPTOP-RES6G37K\Sreehari

Schema: Person
  Person.Address
  Person.AddressType
  Person.BusinessEntity
  Person.BusinessEntityAddress
  Person.BusinessEntityContact
  Person.ContactType
  Person.CountryRegion
  Person.EmailAddress
  Person.Password
  Person.Person
  Person.PersonPhone
  Person.PhoneNumberType
  Person.StateProvince

Schema: Production
  Production.BillOfMaterials
  Production.Culture
  Production.Document
  Production.Illustration
  Production.Location
  Production.Product
  Production.ProductCategory
  Production.ProductCostHistory
  Production.ProductDescription
  Production.ProductDocument
  Production.ProductInventory
  Production.ProductListPriceHistory
  Production.ProductModel
  Production.ProductModelIllustration
  Production.ProductModelProductDescriptionCulture
  Production.ProductPhoto
  Production.ProductProductPhoto
  Production.ProductReview
  Production.ProductSubcategory
  Production.ScrapReason
  Production.TransactionHistory
  Production.TransactionHistoryArchive
  Production.UnitMeasure
  Production.WorkOrder
  Production.WorkOrderRouting

Schema: Purchasing
  Purchasing.ProductVendor
  Purchasing.PurchaseOrderDetail
  Purchasing.PurchaseOrderHeader
  Purchasing.ShipMethod
  Purchasing.Vendor

Schema: Sales
  Sales.CountryRegionCurrency
  Sales.CreditCard
  Sales.Currency
  Sales.CurrencyRate
  Sales.Customer
  Sales.PersonCreditCard
  Sales.SalesOrderDetail
  Sales.SalesOrderHeader
  Sales.SalesOrderHeaderSalesReason
  Sales.SalesPerson
  Sales.SalesPersonQuotaHistory
  Sales.SalesReason
  Sales.SalesTaxRate
  Sales.SalesTerritory
  Sales.SalesTerritoryHistory
  Sales.ShoppingCartItem
  Sales.SpecialOffer
  Sales.SpecialOfferProduct
  Sales.Store

Schema: sys

In [61]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain_experimental.sql.base import SQLDatabaseChain

# Your SQL Server connection URI
connection_uri = (
    "mssql+pyodbc://@LAPTOP-RES6G37K/adventureworks2019"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

# Pass multiple schemas to include_schemas
db = SQLDatabase.from_uri(
    connection_uri,
    schema="Person"  # Example multiple schemas
)

# Set up LLM
llm = ChatOpenAI(temperature=0, model="gpt-4")

# Create SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True,return_intermediate_steps=True,)

# Run a natural language question
response = db_chain.invoke("How many persons whose sales territory group is belongs to Europe?")

C:\Users\Sreehari\AppData\Roaming\Python\Python311\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self._metadata.reflect(

> Entering new SQLDatabaseChain chain...
How many persons whose sales territory group is belongs to Europe?
SQLQuery:SELECT COUNT(DISTINCT [Person].[BusinessEntityID])
FROM [Person].[Person]
JOIN [Person].[BusinessEntityAddress] ON [Person].[BusinessEntityID] = [BusinessEntityAddress].[BusinessEntityID]
JOIN [Person].[Address] ON [BusinessEntityAddress].[AddressID] = [Address].[AddressID]
JOIN [Person].[StateProvince] ON [Address].[StateProvinceID] = [StateProvince].[StateProvinceID]
JOIN [Sales].[SalesTerritory] ON [StateProvince].[TerritoryID] = [SalesTerritory].[TerritoryID]
WHERE [SalesTerritory].[Group] = 'Europe'
SQLResult: [(5506,)]
Answer:There are 5506 persons whose sales territory group belongs to Europe.
> Finished chain.

In [ ]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain_experimental.sql.base import SQLDatabaseChain

# Your SQL Server connection URI
connection_uri = (
    "mssql+pyodbc://@LAPTOP-RES6G37K/adventureworks2019"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

# Pass multiple schemas to include_schemas
db = SQLDatabase.from_uri(
    connection_uri,
    schema="Person"  # Example multiple schemas
)

# Set up LLM
llm = ChatOpenAI(temperature=0, model="gpt-4")

# Create SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True,return_intermediate_steps=True,)

# Run a natural language question
response = db_chain.invoke("How many persons whose sales territory group is belongs to Europe?")

In [63]:
all_tables = list(meta.tables.keys())

In [66]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain_experimental.sql.base import SQLDatabaseChain

# Your SQL Server connection URI
connection_uri = (
    "mssql+pyodbc://@LAPTOP-RES6G37K/adventureworks2019"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

# Pass multiple schemas to include_schemas
db = SQLDatabase.from_uri(
    connection_uri,
    schema="Person"  # Example multiple schemas
)

# Set up LLM
llm = ChatOpenAI(temperature=0, model="gpt-4")

# Create SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True,return_intermediate_steps=True,)

C:\Users\Sreehari\AppData\Roaming\Python\Python311\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self._metadata.reflect(

In [67]:
from langchain_community.utilities.sql_database import SQLDatabase
from sqlalchemy import create_engine, inspect
from typing import List, Optional, Dict

class SQLDatabaseWithSchemas(SQLDatabase):

    @classmethod
    def from_uri_with_schemas(
        cls,
        database_uri: str,
        include_schemas: Optional[List[str]] = None,
        sample_rows_in_table_info: int = 3,
        custom_table_info: Optional[Dict[str, str]] = None,
    ) -> "SQLDatabaseWithSchemas":
        engine = create_engine(database_uri)
        inspector = inspect(engine)

        if include_schemas is not None:
            all_tables = []
            for schema in include_schemas:
                tables = inspector.get_table_names(schema=schema)
                all_tables.extend([f"{schema}.{table}" for table in tables])
        else:
            # fallback to default behavior (just pull everything)
            all_tables = inspector.get_table_names()

        return cls(
            engine=engine,
            include_tables=all_tables,
            sample_rows_in_table_info=sample_rows_in_table_info,
            custom_table_info=custom_table_info,
        )

In [69]:
db = SQLDatabaseWithSchemas.from_uri_with_schemas(
    database_uri="mssql+pyodbc://@LAPTOP-RES6G37K/Adventureworks2019?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes",
    include_schemas=["dbo", "Sales", "Person"]
)

ValueError: include_tables {'Sales.SalesPerson', 'Sales.CreditCard', 'Person.PhoneNumberType', 'Sales.Customer', 'Person.Address', 'Sales.SpecialOffer', 'Person.EmailAddress', 'Person.AddressType', 'Sales.Store', 'Sales.SalesOrderDetail', 'Sales.ShoppingCartItem', 'Sales.SalesOrderHeaderSalesReason', 'Person.BusinessEntityContact', 'dbo.AWBuildVersion', 'Sales.SalesTerritoryHistory', 'Person.BusinessEntityAddress', 'Person.CountryRegion', 'Sales.SalesTerritory', 'Person.Person', 'Sales.SalesTaxRate', 'Sales.SpecialOfferProduct', 'Person.Password', 'Person.PersonPhone', 'Sales.CurrencyRate', 'Person.StateProvince', 'Sales.SalesReason', 'Sales.CountryRegionCurrency', 'dbo.DatabaseLog', 'Person.ContactType', 'Sales.Currency', 'Sales.PersonCreditCard', 'dbo.ErrorLog', 'Sales.SalesPersonQuotaHistory', 'Sales.SalesOrderHeader', 'Person.BusinessEntity'} not found in database

In [72]:
from langchain.chat_models import ChatOpenAI
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import initialize_agent, AgentType

# 1. Connect to SQL Server (example using Windows Auth)
db_uri = (
    "mssql+pyodbc://@LAPTOP-RES6G37K/Adventureworks2019?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)
db = SQLDatabase.from_uri(
    db_uri,
    schema="Person"
)

# 2. Create the LLM and toolkit
llm = ChatOpenAI(temperature=0, model="gpt-4")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

# 3. Initialize agent with SQL tools
agent_executor = initialize_agent(
    tools=toolkit.get_tools(),
    llm=llm,
    agent=AgentType.OPENAI_FUNCTIONS,  # or AgentType.ZERO_SHOT_REACT_DESCRIPTION
    verbose=True
)

C:\Users\Sreehari\AppData\Roaming\Python\Python311\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self._metadata.reflect(
C:\Users\Sreehari\AppData\Local\Temp\ipykernel_15128\132290372.py:20: LangChainDeprecationWarning: LangChain agents will continue to be supported, but it is recommended for new use cases to be built with LangGraph. LangGraph offers a more flexible and full-featured framework for building agents, including support for tool-calling, persistence of state, and human-in-the-loop workflows. For details, refer to the `LangGraph documentation <https://langchain-ai.github.io/langgraph/>`_ as well as guides for `Migrating from AgentExecutor <https://python.langchain.com/docs/how_to/migrate_agent/>`_ and LangGraph's `Pre-built ReAct agent <https://langchain-ai.github.io/langgraph/how-tos/create-react-agent/>`_.
  agent_executor = initialize_agent(

In [74]:
question = "How many persons whose home address is in country France?"
response = agent_executor.run(question)

print("\n✅ Final Answer:")
print(response)

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`
responded: To answer your question, I need to know the structure of the database. Let's first check the list of tables in the database.

Address, AddressType, BusinessEntity, BusinessEntityAddress, BusinessEntityContact, ContactType, CountryRegion, EmailAddress, Password, Person, PersonPhone, PhoneNumberType, StateProvince
Invoking: `sql_db_schema` with `{'table_names': 'Person, Address, CountryRegion'}`
responded: The database contains several tables. To find the number of persons whose home address is in France, we need to look at the 'Person', 'Address', and 'CountryRegion' tables. Let's check the schema of these tables to understand their structure.


CREATE TABLE [Person].[Address] (
	[AddressID] INTEGER NOT NULL IDENTITY(1,1),
	[AddressLine1] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AddressLine2] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StateProvinceID] INTEGER NOT NULL,
	[PostalCode] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Address_AddressID] PRIMARY KEY ([AddressID]),
	CONSTRAINT [FK_Address_StateProvince_StateProvinceID] FOREIGN KEY([StateProvinceID]) REFERENCES [Person].[StateProvince] ([StateProvinceID])
)

/*
3 rows from Address table:
AddressID	AddressLine1	AddressLine2	City	StateProvinceID	PostalCode	rowguid	ModifiedDate
1	1970 Napa Ct.	None	Bothell	79	98011	9aadcb0d-36cf-483f-84d8-585c2d4ec6e9	2007-12-04 00:00:00
2	9833 Mt. Dias Blv.	None	Bothell	79	98011	32a54b9e-e034-4bfb-b573-a71cde60d8c0	2008-11-30 00:00:00
3	7484 Roundtree Drive	None	Bothell	79	98011	4c506923-6d1b-452c-a07c-baa6f5b142a4	2013-03-07 00:00:00
*/


CREATE TABLE [Person].[CountryRegion] (
	[CountryRegionCode] NVARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_CountryRegion_CountryRegionCode] PRIMARY KEY ([CountryRegionCode])
)

/*
3 rows from CountryRegion table:
CountryRegionCode	Name	ModifiedDate
AD	Andorra	2008-04-30 00:00:00
AE	United Arab Emirates	2008-04-30 00:00:00
AF	Afghanistan	2008-04-30 00:00:00
*/


CREATE TABLE [Person].[Person] (
	[BusinessEntityID] INTEGER NOT NULL,
	[PersonType] NCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NameStyle] BIT NOT NULL DEFAULT ((0)),
	[Title] NVARCHAR(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MiddleName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Suffix] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmailPromotion] INTEGER NOT NULL DEFAULT ((0)),
	[AdditionalContactInfo] XML NULL,
	[Demographics] XML NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Person_BusinessEntityID] PRIMARY KEY ([BusinessEntityID]),
	CONSTRAINT [FK_Person_BusinessEntity_BusinessEntityID] FOREIGN KEY([BusinessEntityID]) REFERENCES [Person].[BusinessEntity] ([BusinessEntityID])
)

/*
3 rows from Person table:
BusinessEntityID	PersonType	NameStyle	Title	FirstName	MiddleName	LastName	Suffix	EmailPromotion	AdditionalContactInfo	Demographics	rowguid	ModifiedDate
1	EM	False	None	Ken	J	Sánchez	None	0	None	<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSu	92c4279f-1207-48a3-8448-4636514eb7e2	2009-01-07 00:00:00
2	EM	False	None	Terri	Lee	Duffy	None	1	None	<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSu	d8763459-8aa8-47cc-aff7-c9079af79033	2008-01-24 00:00:00
3	EM	False	None	Roberto	None	Tamburello	None	0	None	<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSu	e1a2555e-0828-434b-a33b-6f38136a37de	2007-11-04 00:00:00
*/
Invoking: `sql_db_schema` with `{'table_names': 'BusinessEntityAddress'}`
responded: Based on the schema of the tables, we can see that the 'Person' table contains information about individuals, the 'Address' table contains address details, and the 'CountryRegion' table contains country information. However, there is no direct link between the 'Person' and 'Address' tables or between the 'Address' and 'CountryRegion' tables.

There is another table 'BusinessEntityAddress' which might link 'Person' and 'Address'. Let's check the schema of 'BusinessEntityAddress' table.


CREATE TABLE [Person].[BusinessEntityAddress] (
	[BusinessEntityID] INTEGER NOT NULL,
	[AddressID] INTEGER NOT NULL,
	[AddressTypeID] INTEGER NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_BusinessEntityAddress_BusinessEntityID_AddressID_AddressTypeID] PRIMARY KEY ([BusinessEntityID], [AddressID], [AddressTypeID]),
	CONSTRAINT [FK_BusinessEntityAddress_Address_AddressID] FOREIGN KEY([AddressID]) REFERENCES [Person].[Address] ([AddressID]),
	CONSTRAINT [FK_BusinessEntityAddress_AddressType_AddressTypeID] FOREIGN KEY([AddressTypeID]) REFERENCES [Person].[AddressType] ([AddressTypeID]),
	CONSTRAINT [FK_BusinessEntityAddress_BusinessEntity_BusinessEntityID] FOREIGN KEY([BusinessEntityID]) REFERENCES [Person].[BusinessEntity] ([BusinessEntityID])
)

/*
3 rows from BusinessEntityAddress table:
BusinessEntityID	AddressID	AddressTypeID	rowguid	ModifiedDate
1	249	2	3a5d0a00-6739-4dfe-a8f7-844cd9dee3df	2014-09-12 11:15:06.967000
2	293	2	84ae7057-edf4-4c51-8b8d-3aeaefbfb4a1	2014-09-12 11:15:06.967000
3	224	2	3c915b31-7c05-4a05-9859-0df663677240	2014-09-12 11:15:06.967000
*/
Invoking: `sql_db_schema` with `{'table_names': 'StateProvince'}`
responded: The 'BusinessEntityAddress' table links the 'Person' and 'Address' tables through the 'BusinessEntityID' and 'AddressID' fields respectively. However, we still need to link the 'Address' table to the 'CountryRegion' table.

The 'Address' table has a 'StateProvinceID' field which might be linked to a 'StateProvince' table that could contain the country information. Let's check the schema of the 'StateProvince' table.


CREATE TABLE [Person].[StateProvince] (
	[StateProvinceID] INTEGER NOT NULL IDENTITY(1,1),
	[StateProvinceCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CountryRegionCode] NVARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsOnlyStateProvinceFlag] BIT NOT NULL DEFAULT ((1)),
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TerritoryID] INTEGER NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_StateProvince_StateProvinceID] PRIMARY KEY ([StateProvinceID]),
	CONSTRAINT [FK_StateProvince_CountryRegion_CountryRegionCode] FOREIGN KEY([CountryRegionCode]) REFERENCES [Person].[CountryRegion] ([CountryRegionCode]),
	CONSTRAINT [FK_StateProvince_SalesTerritory_TerritoryID] FOREIGN KEY([TerritoryID]) REFERENCES [Sales].[SalesTerritory] ([TerritoryID])
)

/*
3 rows from StateProvince table:
StateProvinceID	StateProvinceCode	CountryRegionCode	IsOnlyStateProvinceFlag	Name	TerritoryID	rowguid	ModifiedDate
1	AB 	CA	False	Alberta	6	298c2880-ab1c-4982-a5ad-a36eb4ba0d34	2014-02-08 10:17:21.587000
2	AK 	US	False	Alaska	1	5b7b8462-a888-4e0b-a3e1-7278f8af107e	2014-02-08 10:17:21.587000
3	AL 	US	False	Alabama	5	41b328be-21ae-45d0-841d-6f8dd71ce626	2014-02-08 10:17:21.587000
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons FROM Person p JOIN BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID JOIN Address a ON bea.AddressID = a.AddressID JOIN StateProvince sp ON a.StateProvinceID = sp.StateProvinceID JOIN CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode WHERE cr.Name = 'France'"}`
responded: The 'StateProvince' table links the 'Address' table to the 'CountryRegion' table through the 'StateProvinceID' and 'CountryRegionCode' fields respectively.

Now, we can construct a SQL query to find the number of persons whose home address is in France. The query will join the 'Person', 'BusinessEntityAddress', 'Address', 'StateProvince', and 'CountryRegion' tables. Let's write the query.

SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons
FROM Person p
JOIN BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID
JOIN Address a ON bea.AddressID = a.AddressID
JOIN StateProvince sp ON a.StateProvinceID = sp.StateProvinceID
JOIN CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode
WHERE cr.Name = 'France'
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons FROM Person p JOIN BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID JOIN Address a ON bea.AddressID = a.AddressID JOIN StateProvince sp ON a.StateProvinceID = sp.StateProvinceID JOIN CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode WHERE cr.Name = 'France'"}`


Error: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'Person'. (208) (SQLExecDirectW)")
[SQL: SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons FROM Person p JOIN BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID JOIN Address a ON bea.AddressID = a.AddressID JOIN StateProvince sp ON a.StateProvinceID = sp.StateProvinceID JOIN CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode WHERE cr.Name = 'France']
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons FROM Person.Person p JOIN Person.BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID JOIN Person.Address a ON bea.AddressID = a.AddressID JOIN Person.StateProvince sp ON a.StateProvinceID = sp.StateProvinceID JOIN Person.CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode WHERE cr.Name = 'France'"}`
responded: It seems like there is an error with the table names. The table names are prefixed with 'Person.' in the schema. Let's correct the table names and try the query again.

SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons
FROM Person.Person p
JOIN Person.BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID
JOIN Person.Address a ON bea.AddressID = a.AddressID
JOIN Person.StateProvince sp ON a.StateProvinceID = sp.StateProvinceID
JOIN Person.CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode
WHERE cr.Name = 'France'
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(DISTINCT p.BusinessEntityID) as NumberOfPersons FROM Person.Person p JOIN Person.BusinessEntityAddress bea ON p.BusinessEntityID = bea.BusinessEntityID JOIN Person.Address a ON bea.AddressID = a.AddressID JOIN Person.StateProvince sp ON a.StateProvinceID = sp.StateProvinceID JOIN Person.CountryRegion cr ON sp.CountryRegionCode = cr.CountryRegionCode WHERE cr.Name = 'France'"}`


[(1811,)]There are 1,811 persons whose home address is in France.

> Finished chain.

✅ Final Answer:
There are 1,811 persons whose home address is in France.