In [2]:
from dotenv import load_dotenv

In [3]:
import os

In [4]:
load_dotenv()

True

In [5]:
os.environ["OPENAI_API_KEY"]=os.getenv("OPENAI_API_KEY")

In [6]:
import pyodbc

try:
    conn = pyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                          "SERVER=LAPTOP-RES6G37K;"
                          "DATABASE=atliq_tshirts;"
                          "UID=YourLogin;"
                          "PWD=Rsri@Nov1983;")
    print("✅ SQL Server Login Successful!")
    conn.close()
except Exception as e:
    print("❌ SQL Server Login Failed:", e)

✅ SQL Server Login Successful!

In [7]:
from sqlalchemy import create_engine

In [10]:
from sqlalchemy.engine import URL
server = "LAPTOP-RES6G37K"
database = "atliq_tshirts"
username = "MyLogin"
password = "Rsri@Nov1983"

connection_url = URL.create(
    "mssql+pyodbc",
    username=username,
    password=password,
    host="tcp:" + server,
    port=1433,
    database=database,
    query={"driver": "ODBC Driver 17 for SQL Server"}
)

engine = create_engine(connection_url)

In [11]:
try:
    with engine.connect() as conn:
        print("✅ SQLAlchemy connected successfully!")
except Exception as e:
    print("❌ SQLAlchemy connection failed:", e)

✅ SQLAlchemy connected successfully!

In [12]:
from langchain_openai import ChatOpenAI

In [13]:
import os
from langchain_openai import OpenAI
from langchain_experimental.sql import SQLDatabaseChain
from langchain.utilities import SQLDatabase
from sqlalchemy import create_engine

In [14]:
# Create SQLDatabase instance
db = SQLDatabase(engine)

In [15]:
llm = ChatOpenAI(model_name="gpt-4", temperature=0)

# ✅ Create SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

# Example: Convert Natural Language to SQL
nl_query = "how many total blue nike t-shirts are available?"

# ✅ Generate SQL Query & Execute
result = db_chain.invoke(nl_query)

print("Query Result:", result)

> Entering new SQLDatabaseChain chain...
how many total blue nike t-shirts are available?
SQLQuery:SELECT SUM([stock_quantity]) as Total_Blue_Nike
FROM [t_shirts]
WHERE [brand] = 'Nike' AND [color] = 'Blue'
SQLResult: [(None,)]
Answer:There are no blue Nike t-shirts available.
> Finished chain.
Query Result: {'query': 'how many total blue nike t-shirts are available?', 'result': 'There are no blue Nike t-shirts available.'}